/* start global rools */
:root{
    --main-color:#4dc4ff;
}
i{
    font-size: x-large;
}
ul{
    list-style: none;
}

/* end global rools */
header{
    margin-bottom: 10px;
}

header .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

header .head img{
    width: 15%;
}

header .head .search{
    display: flex;
    position: relative;
}

header .head .search i{
    padding: 10px;
    background-color: var(--main-color);
}

header .head .search::after{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent var(--main-color) transparent transparent;
    position: absolute;
    right: 44px;
    top: 10px;
}

header .head .my-card i{
    padding: 10px;
    background-color: var(--main-color);
}
header .head .my-card{
    display: flex;
    align-items: center;
}

header .head .my-card .content{
    padding-left: 10px;
    line-height: 5px;
    padding-top: 15px;
}
/* start nav */
header .nav{
    background-color: rgb(163, 163, 163);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
header ul {
    margin-right: 30px;
    margin-bottom: 0px;
    display: flex;
}
header ul li{
    padding: 10px;
}
header ul li .active{
    color: var(--main-color);
}
header ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header ul li a:hover {
    color: var(--main-color);
}


/* end nav */
/* end header */

/* start landing */
.container .row .col-8 .carousel-inner img{
    width: 100%;
    height: 500px;
}

.container .row .col-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow:hidden;
}
.container .row .col-4 img{
    width: 100%;
    height: 250px;
}

.container .row .col-4 img:hover{
    transform: scale(1.2);
}

@media( max-width : 426px){
    .container .row {
        display: block;
    }
    .container .row .col-8 {
        width: 100%;
    }
    .container .row .col-4{
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}